* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    --orange-color: rgb(250, 154, 36);
    --blue-color: rgb(43, 130, 139);
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--orange-color);
    box-shadow: inset 0 0 6px rgba (0 0 0 0.3);
    border-radius: 3px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba (0 0 0 0.3);
}
ul {
    background-color: rgba(244, 156, 49, 0.844);
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(2px);
}
header li {
    padding-left: 0.7em;
    width: 100vw;
}
header a {
    text-decoration: none;
    color: white;
}
#welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(headerback.jpg);
    background-repeat: repeat;
    background-size: cover;
    z-index: 1;
}
.overlay {
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
#welcome {
    margin-left: 5em;
    z-index: 1;
}
#hello h1 {
    text-align: left;
}
h1 {
    color: orange;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
}
#hello p {
    width: 50%;
    margin-bottom: 1em;
}
article h1 {
    color: orange;
    margin-bottom: 1em;
    font-size: 2em;
}
#welcome p {
    width: 50%;
    margin-bottom: 1em;
}
#about_us p {
    margin-bottom: 1em;
}
input[type="button"] {
    background-color: rgb(250, 154, 36);
    color: white;
    font-size: 1.1em;
    padding: 0.4em;
    border-style: none;
    border-radius: 0.3em;
    cursor: pointer
}
.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    font-size: 1.2 em;
    animation-name: heartBeat;
    animation-name: 1s;
}
.card:hover {
    animation-name: bounce;
    animation-duration: 1s;
}
.card .name {
    background-color: orange;
    color: white;
    border-top-right-radius: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    position: relative;
    bottom: 1.7em;
    text-align: center;
}
.job {
    color: rgb(108, 108, 108);
}
.card .job {
    position: relative;
    bottom: 1.7em;
}
.about_us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.description {
    width: 30%;
    border-left-color: rgb (43, 130, 139);
    border-left-width: 5px;
    border-left-style: solid;
    padding: 0.5em;
    color:rgb(43, 130, 139);
    font-size: 1.1em;
    line-height: 1.7em;
}
h3 {
    color: rgb(43, 130, 139);
    margin-bottom: 0.5em;
}
.about_card {
    text-align: center;
}
.about_card img{
    border-radius:50%;
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
#contact h1 {
    margin-right: 1em;
}
#form {
    display: flex;
    flex-direction: column;
    margin-left:  1em;
}
#form input, textarea {
    margin: 0.5em;
    padding: 0.2em;
    font-size: 1.2em;
    width: 20em;
}
#form input [type="text"] {
    border-color: rgb(143, 143, 143);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}