* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#icecream {
    width: 10em;
    height: 15em;
    background: linear-gradient(130deg, rgba(238,244,72,1) 0%, rgba(225,240,75,1) 23%, rgba(28,50,125,1) 23%, rgba(23,15,179,1) 50%, rgba(230,52,35,1) 50%, rgba(242,76,37,1) 75%, rgba(199,28,143,1) 75%, rgba(103,7,157,1) 100%, rgba(182,14,160,1) 100%);
    background-repeat: repeat-y;
    border-radius: 5em 5em 1em 1em;
    animation-name: flow;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
#stick {
    width: 3em;
    height: 5em;
    background-color: chocolate;
    border-radius: 0em 0em 1em 1em;
}
@keyframes flow {
    to {
    background-position: 0px 15em;
    }
    
}