html,body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkerboard {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 33%);
}

.square {
  background: gray;
}

.square:nth-child(-2n+8), 
.square:nth-child(8) ~ .square:nth-child(-2n+15), 
.square:nth-child(16) ~ .square:nth-child(-2n+24), 
.square:nth-child(24) ~ .square:nth-child(-2n+31), 
.square:nth-child(32) ~ .square:nth-child(-2n+40), 
.square:nth-child(40) ~ .square:nth-child(-2n+47), 
.square:nth-child(48) ~ .square:nth-child(-2n+56), 
.square:nth-child(56) ~ .square:nth-child(-2n+63) {
    background-color: black;
}
