<title>
<style>
h1 {
    color:dark green
    font-size:1em
    text-align: centre;
}

h2 {
    font-size: 1.5em;
}

h3{
    text-decoration: underline;
    text-decoration-color: rgb(9, 61, 3);
}
a:hover{
    text-decoration-color: dark green
}

}
h4{
    color: dark orange;
    margin-top: 2.5em;
}
body{
    background-color: lightsalmon;
    font-size: 16px;
}
p{
    font-weight: normal;
    font-size: 1.2em;
}
</style>