* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
    }
body {
    background: rgb(247,237,237);
    --blue: #0054a6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: linear-gradient(130deg, rgba(247,237,237,1) 1%, rgba(238,132,136,1) 40%, rgba(129,179,227,1) 71%, rgba(197,215,232,1) 99%);*/
/* animation-name: change-color;
animation-duration: 5s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: infinite;*/
}
/* body {
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            nackground-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
@keyframes change color {
    from {
        /* background: linear-gradient(130deg, rgba(247,237,237,1) 1%, rgba(238,132,136,1) 40%, rgba(129,179,227,1) 71%, rgba(197,215,232,1) 99%);*/
        background-color: #0054a6;
    }
    to {
        /* background: linear-gradient(130deg, rgba(247,237,237,1) 1%, rgba(238,132,136,1) 40%, rgba(129,179,227,1) 71%, rgba(197,215,232,1) 99%);*/
        background-color: #ef373e;
    }
}
html {
     scroll-behavior: smooth;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo {
    width: 20vw;
    order: 1;
}

img.logo {
    width: 13vw;
}
div.logo {
    order: 1;
    align-items: center;
}
.menu {
    order: 2;
}
ul.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 40vw;
}
ul.main_menu {
    justify-content: center;
    width: 40vw;
}
.menu li {
    padding: 0.1em 1em;
    margin: 0 0.3em;
}
.menu li a {
    text-decoration: none;
    color: black;
}
.search {
    width: 40vw;
    text-align: center;
}
#search {
    width: 75%;
    border: 2px solid var(--blue);
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
    border: 2px solid var(--blue);
    border-radius: 0.4em;
    border-top-right-radius: 0;
    text-align: center;
}
h1, h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    margin-top: 1em;
}
h2 {
    margin-bottom: 1em;
}
img.teacher {
    width: 90%;
}
.welcome {
    display: flex;
    justify-content: center;
}
ul.welcome_menu {
    flex-direction: column;
}
ul.welcome_menu li {
    margin: 05.em 0.3em;
}
.about {
    display: flex;
    align-items: flex-end;
}
img.reading {
    width: 50%;
    align-items: flex-end;
    }
.grammarbuttons {
    display: inline-block;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.grammar {
    display: flex;
    align-items: flex-end;
}
img.fitness {
    width: 50%;
    align-items: flex-end;
    }
#fullname {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
#email {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
#message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
img.hand {
    width:50%;
    align-items: flex-end;
}
